<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Space Anywhere</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-white justify-content-end mt-4">
        <a class="navbar-brand" href="#">
            <img src="/img/nearby.png" width="40" height="40" class="d-inline-block mr-3" alt="" loading="lazy">
            Space Anywhere
        </a>
        <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-4" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item active mr-3">
                    <!-- 로그인 안되어있을시 -->
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle text-decoration-none" type="button" id="login-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </button>
                        <div class="dropdown-menu" aria-labelledby="login-dropdown">
                            <a class="dropdown-item" href="#">로그인</a>
                            <a class="dropdown-item" href="#">회원가입</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <button class="btn  mr-2 btn-warning">Posts Ads</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
<!-- navbar end -->