<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Space Anywhere</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-white justify-content-end mt-4">
        <a class="navbar-brand" href="/">
            <img src="/img/nearby.png" width="40" height="40" class="d-inline-block mr-3" alt="">
            Space Anywhere
        </a>
        <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-4" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link" href="/space/list">Product List</a>
                </li>
                <li class="nav-item active mr-3">
                    <div class="dropdown">
                        {{#user}}
                            <button class="btn btn-link dropdown-toggle text-decoration-none" type="button"
                                    id="login-dropdown" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span>{{name}}</span>
                                {{^emailVerified}}
                                    <span class="text-danger h6 font-weight-bold">(계정 인증 미완료)</span>
                                {{/emailVerified}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="login-dropdown">
                                <a class="dropdown-item" href="/myPage/home">
                                    마이페이지
                                    {{^emailVerified}}
                                        <span class="text-danger h6 font-weight-bold"> (계정 인증으로 이동)</span>
                                    {{/emailVerified}}
                                </a>
                                <a class="dropdown-item" href="/logout" role="button">로그아웃</a>
                            </div>
                        {{/user}}
                        {{^user}}
                            <button class="btn btn-link dropdown-toggle text-decoration-none" type="button"
                                    id="login-dropdown" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                로그인
                            </button>
                            <div class="dropdown-menu" aria-labelledby="login-dropdown">
                                <a class="dropdown-item" href="/basicUser/login" role="button">로그인</a>
                                <a class="dropdown-item" href="/basicUser/login" role="button">회원가입</a>
                            </div>
                        {{/user}}
                    </div>
                </li>
            </ul>
        </div>
        {{#user}}
            {{#emailVerified}}
                {{#isSeller}}
                    <a href="/space/save" class="btn  mr-2 btn-warning" role="button">Posts Ads</a>
                    <a href="/isSeller/undo/enroll" role="button" class="btn btn-danger mr-2">판매자 등록 취소</a>
                {{/isSeller}}
                {{^isSeller}}
                    <button role="button" class="btn btn-success mr-2" id="btn-check-isSeller">판매자 등록</button>
                {{/isSeller}}
            {{/emailVerified}}
        {{/user}}
<!--        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
    </nav>
</div>
<!-- navbar end -->