{{>layout/header}}
<!-- space list start -->
<div class="content-area pb-5 pt-5">
    <div class="content-info">
        <h1 id="product-list-title-h1">Product List</h1>
        <p class="font-weight-normal mt-3" id="product-list-title-p">Home - Product List</p>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="product_sidebar">
                    <nav class="nav flex-column search-nav bg-white">
                        <h5>Search by name</h5>
                        <div class="input-group mb-3 mt-3">
                            <input type="text" class="form-control" aria-describedby="name-search-btn">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="name-search-btn">Search</button>
                            </div>
                        </div>
                    </nav>
                    <nav class="nav flex-column search-nav bg-white mt-4">
                        <h5>City</h5>
                        <a class="nav-link" href="/space/list/city/서울특별시">서울특별시 ({{city0}})</a>
                        <a class="nav-link" href="/space/list/city/인천광역시">인천광역시 ({{city1}})</a>
                        <a class="nav-link" href="/space/list/city/대전광역시">대전광역시 ({{city2}})</a>
                        <a class="nav-link" href="/space/list/city/대구광역시">대구광역시 ({{city3}})</a>
                        <a class="nav-link" href="/space/list/city/부산광역시">부산광역시 ({{city4}})</a>
                        <a class="nav-link" href="/space/list/city/광주광역시">광주광역시 ({{city5}})</a>
                        <a class="nav-link" href="/space/list/city/울산광역시">울산광역시 ({{city6}})</a>
                        <a class="nav-link" href="/space/list/city/세종특별자치도">세종특별자치도 ({{city7}})</a>
                        <a class="nav-link" href="/space/list/city/경기도">경기도 ({{city8}})</a>
                        <a class="nav-link" href="/space/list/city/강원도">강원도 ({{city9}})</a>
                        <a class="nav-link" href="/space/list/city/충청북도">충청북도 ({{city10}})</a>
                        <a class="nav-link" href="/space/list/city/충청남도">충청남도 ({{city11}})</a>
                        <a class="nav-link" href="/space/list/city/전라북도">전라북도 ({{city12}})</a>
                        <a class="nav-link" href="/space/list/city/전라남도">전라남도 ({{city13}})</a>
                        <a class="nav-link" href="/space/list/city/경상북도">경상북도 ({{city14}})</a>
                        <a class="nav-link" href="/space/list/city/경상남도">경상남도 ({{city15}})</a>
                        <a class="nav-link" href="/space/list/city/제주도">제주도 ({{city16}})</a>
                    </nav>
                    <nav class="nav flex-column search-nav bg-white mt-4">
                        <h5>Categories</h5>
                        <a class="nav-link" href="/space/list/category/악기">악기 ({{category0}})</a>
                        <a class="nav-link" href="/space/list/category/녹음">녹음 ({{category1}})</a>
                        <a class="nav-link" href="/space/list/category/댄스">댄스 ({{category2}})</a>
                        <a class="nav-link" href="/space/list/category/뮤지컬">뮤지컬 ({{category3}})</a>
                        <a class="nav-link" href="/space/list/category/쿠킹">쿠킹 ({{category4}})</a>
                        <a class="nav-link" href="/space/list/category/스터디">스터디 ({{category5}})</a>
                    </nav>
                    <nav class="nav flex-column search-nav bg-white mt-4">
                        <h5>Price</h5>
                        <a class="nav-link" href="/space/list/price/0">₩10,000 미만 ({{price0}})</a>
                        <a class="nav-link" href="/space/list/price/1">₩10,000 - ₩35,000 ({{price1}})</a>
                        <a class="nav-link" href="/space/list/price/2">₩35,000 - ₩70,000 ({{price2}})</a>
                        <a class="nav-link" href="/space/list/price/3">₩70,000 - ₩100,000 ({{price3}})</a>
                        <a class="nav-link" href="/space/list/price/4">₩100,000 이상 ({{price4}})</a>
                    </nav>
                    <nav class="nav flex-column search-nav bg-white mt-4">
                        <h5>Rating</h5>
                        <a class="nav-link" href="/space/list/rating/5">&starf;&starf;&starf;&starf;&starf; ({{rating5}})</a>
                        <a class="nav-link" href="/space/list/rating/4">&starf;&starf;&starf;&starf;&star; ({{rating4}})</a>
                        <a class="nav-link" href="/space/list/rating/3">&starf;&starf;&starf;&star;&star; ({{rating3}})</a>
                        <a class="nav-link" href="/space/list/rating/2">&starf;&starf;&star;&star;&star; ({{rating2}})</a>
                        <a class="nav-link" href="/space/list/rating/1">&starf;&star;&star;&star;&star; ({{rating1}})</a>
                        <a class="nav-link" href="/space/list/rating/0">&star;&star;&star;&star;&star; ({{rating0}})</a>
                    </nav>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="tab-content">
                    <div class="tab-content-list">
                        <!--상품 전체 조회 만드는중 시작-->
                        {{#products}}
                            <div class="product mt-3">
                                <div class="row no-gutters bg-white position-relative product_grid">
                                    <div class="col-md-6">
                                        <img class="product_img img-fluid" src="/img/recordroom.png" >
                                    </div>
                                    <div class="col-md-6 position-static pt-4 pl-4 pr-4">
                                        <div class="meta d-flex justify-content-between">
                                            <h4><a href="/space/detail/{{p_id}}" id="product-title">{{p_name}}</a></h4>
                                            <a class="like" href="#"><i class="fa fa-heart-o"></i></a>
                                        </div>
                                        <div class="product-hashtag pt-2">
                                            <span class="mr-2"><i class="fa fa-hashtag"></i> {{p_city}}</span>
                                            <span><i class="fa fa-hashtag"></i> {{p_location}}</span>
                                            <span><i class="fa fa-hashtag"></i> {{p_category}}</span>
                                        </div>
                                        <div class="ads_price_date d-flex justify-content-between product-last-line">
                                            <span><i class="fa fa-star"></i> {{p_avgRating}}/5.0 <span class="review pl-1">(이용후기 43개)</span></span>
                                            <span class="price">₩ {{p_weekdayPrice}} / 시간</span>
                                        </div>
                                        <a href="/space/list/detail/{{p_id}}" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {{/products}}

                        <!--상품 전체 조회 만드는중 끝-->

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center pt-5">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- space list end -->
{{>layout/footer}}