{{>layout/header}}
<div class="content-area pb-5 pt-3">
    <div class="container mt-5 content-body">
        <h3 class="pb-4">상품 이미지 등록</h3>
        <div class="container">
            <form action="/api/v1/products/{{p_id}}/imageInsert" method="post" enctype="multipart/form-data">
                <table class="table">
                    <tbody>
                    <tr>
                        <th><span class="font-weight-bold">대표 사진</span></th>
                        <th><input type="file" name="files"></th>
                    </tr>
                    <tr>
                        <th><span class="font-weight-bold">사진1</span></th>
                        <th><input type="file" name="files"></th>
                    </tr>
                    <tr>
                        <th><span class="font-weight-bold">사진2</span></th>
                        <th><input type="file" name="files"></th>
                    </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-dark">업로드</button>
            </form>
        </div>
    </div>
</div>
{{>layout/footer}}