.content-area {
  background-color: #F4F5F7;
}

#search-area {
  width: 97%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 2em;
  margin-right: 5%;
}

#category-dropdown {
  height: 3.2em;
  width: 260px;
}

#location-dropdown {
  height: 3.2em;
  width: 500px;
}

#mainpage-search-button {
  height: 3.2em;
  width: 200px;
}

#category-dropdown-list  {
  width: 92%;
}

#location-dropdown-list {
  width: 95%;
}

#location-link {
  text-align: center;
  width: 85%;
}

#location-link1:hover {
  color: #EF6C00;
}

#location-link2:hover {
  color: red;
}

#category-list {
  padding-left: 2.5em;
  padding-top: 1em;
}

#category-list:nth-child(3n+3) {
  padding-bottom: 1.5em;
}

#category-list > a, #location-list tbody tr td a {
  color: black;
  text-decoration: none;
}

#category-list > a:hover, #location-list tbody tr td a:hover {
  color: #EF6C00;
}

#category-list > a:nth-child(2n+1) {
  padding-right: 3.5em;
}

#location-list td {
  text-align: center;
}


input {
  text-align: center;
}

.card {
  width: 15rem;
  margin-right: 2em;
  display: inline-block;
}

#popular-space {
  font-weight: bold;
  font-size: 2.5em;
  display: inline-block;
}

#popular-space-btn {
  width: 100%;
  font-weight: 600;
  margin-left: 20%;
}

.btn-link, .btn-link:hover{
  color: black;
}

/* login */
#login-form {
  background-color: white;
  width: 55%;
  border-radius: 10%;
}
#btn-login, #btn-signup {
  width: 100%;
}

.btn-naver {
  background-color: #00CE36;
  color: white;
  font-weight: 500;
  border: none;
  width: 88%;
}

.btn-naver:focus, .btn-google:focus {
  outline: none;
  box-shadow: none;
}

.btn-naver:hover {
  background-color: #00C433;
}

.btn-google {
  background-color: #DC4A37;
  color: white;
  font-weight: 500;
  border: none;
  width: 88%;
}

.btn-google:hover {
  background-color: #D93C27;
  opacity: 100%;
}

/* signup */
#signup-form {
  background-color: white;
  width: 45%;
  border-radius: 10%;
}

/* space list */
#list-search-area {

}

.btn-light {
  border: 1px solid black;
}

.btn-light:hover {
  background-color: white;
  border: 2px solid black;
}

.search-nav {
  padding: 1em;
  margin-left: 1.5em;
  width: 15%;
  border-radius: 10%;
}

.search-nav > h5 {
  border-bottom: 2px solid #d4d4d4;
  padding-bottom: 10px;
}

.search-nav > a {
  color: black;
}

.search-nav > a:hover {
  color: orange;
}
