#search-area {
  width: 97%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 2em;
  margin-right: 5%;
}

#category-dropdown {
  height: 3.2em;
  width: 260px;
}

#location-dropdown {
  height: 3.2em;
  width: 500px;
}

#mainpage-search-button {
  height: 3.2em;
  width: 200px;
}

#category-dropdown-list  {
  width: 92%;
}

#location-dropdown-list {
  width: 95%;
}

#location-link {
  text-align: center;
  width: 85%;
}

#location-link1:hover {
  color: #EF6C00;
}

#location-link2:hover {
  color: red;
}

#category-list {
  padding-left: 2.5em;
  padding-top: 1em;
}

#category-list:nth-child(3n+3) {
  padding-bottom: 1.5em;
}

#category-list > a, #location-list tbody tr td a {
  color: black;
  text-decoration: none;
}

#category-list > a:hover, #location-list tbody tr td a:hover {
  color: #EF6C00;
}

#category-list > a:nth-child(2n+1) {
  padding-right: 3.5em;
}

#location-list td {
  text-align: center;
}


input {
  text-align: center;
}

.card {
  width: 15rem;
  margin-right: 2em;
  display: inline-block;
}

#popular-space {
  font-weight: bold;
  font-size: 2.5em;
  display: inline-block;
}

#popular-space-btn {
  width: 100%;
  font-weight: 600;
  margin-left: 20%;
}

.btn-link, .btn-link:hover{
  color: black;
}
