{{>layout/header}}
<!-- login start -->
<div class="content-area pb-5 pt-5">
    <div class="container d-flex justify-content-center">
        <form class="mt-5 mb-5 p-5" id="login-form">
            <h3 class="text-center mb-5 font-weight-bold">판매자 등록</h3>
            <p class="border border-dark rounded p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="sellerCheck1">
                <label class="form-check-label" for="sellerCheck1">
                    동의
                </label>
            </div>
            <p class="border border-dark rounded p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="sellerCheck2">
                <label class="form-check-label" for="sellerCheck2">
                    동의
                </label>
            </div>
            <input type="hidden" value="{{userEmail}}" id="userEmail">
            <a class="btn btn-success mt-4 p-2 w-100" href="#a" role="button" id="btn-enroll-seller">판매자 등록</a>
        </form>
    </div>
</div>
<!-- login end -->
{{>layout/footer}}