{{>layout/header}}
<!-- change password start -->
<div class="content-area pb-5 pt-3">
    <div class="container mt-5 mb-5">
        <p class="bg-secondary rounded pl-5 pt-3 pb-3 font-weight-bold h4 text-light">비밀번호 변경</p>
        <div class="mt-4">
            <div class="bg-white rounded d-flex justify-content-center">
                <form class="pt-5">
                    <div class="form-group row changePassword-div">
                        <label for="beforePassword" class="col-form-label pr-5">현재 비밀번호</label>
                        <div class="w-50">
                            <input type="password" class="form-control" id="beforePassword">
                        </div>
                    </div>
                    <div class="form-group row changePassword-div">
                        <label for="newPassword" class="col-form-label pr-5">새 비밀번호</label>
                        <div class="w-50">
                            <input type="password" class="form-control ml-3" id="newPassword">
                        </div>
                    </div>
                    <div class="form-group row changePassword-div">
                        <label for="newPassword-confirm" class="col-form-label pr-4">새 비밀번호 확인</label>
                        <div class="w-50">
                            <input type="password" class="form-control" id="newPassword-confirm">
                        </div>
                    </div>
                    <div class="row passwordBtn-div pl-2 pt-3">
                        <button type="button" class="btn btn-primary mr-5 pl-5 pr-5 pt-1 pb-1">입력</button>
                        <a href="#" class="btn btn-secondary pl-5 pr-5 pt-1 pb-1" role="button">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- change password end -->
{{>layout/footer}}