{{>layout/header}}
<!-- login start -->
<div class="container d-flex justify-content-center">
    <form id="login-form">
        <h3 class="text-center mb-5 mt-5">Login Please</h3>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="" id="naver-login"><img src="/img/naver.png" width="50" height="50" alt=""></span>
            </div>
            <button type="button" class="btn-naver" aria-describedby="naver-login">Sign in with Naver</button>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="" id="google-login"><img src="/img/google.png" width="50" height="50" alt=""></span>
            </div>
            <button type="button" class="btn-google" aria-describedby="google-login">Sign in with Google</button>
        </div>
        <hr class="mt-4 mb-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <p class="text-right"><a href="" class="text-decoration-none">Forget Password</a></p>
        <button type="submit" class="btn btn-primary" id="btn-login">Login</button>
        <button type="submit" class="btn btn-info mt-2" id="btn-signup">Sign Up</button>
    </form>
</div>
<!-- login end -->
{{>layout/footer}}