{{>layout/header}}
<!-- my review start -->
<div class="content-area pb-5 pt-5">
    <div class="bg-info liked-list-start rounded">
        <p>이용 후기</p>
    </div>
    <div class="container mt-5 pt-2 pb-5 bg-white rounded">
        <!-- 후기1개 -->
        <div class="row reservation-list-div rounded mb-3">
            <div class="col reservation-img">
                <a href="#"><img src="/img/recordroom.png" width="350" height="220" alt=""></a>
            </div>
            <div class="col pt-4 reservation-info">
                <p><span class="text-primary mr-5">예약 장소</span><span><a href="#" class="text-dark">선셋밸리 레코드 스튜디오</a></span></p>
                <p><span class="text-primary mr-5">예약 날짜</span><span>2020년 10월 19일 월요일</span></p>
                <p><span class="text-primary mr-5">예약 시간</span><span>오전권(10:00-15:00)</span></p>
                <a href="#" role="button" class="btn btn-danger">후기 삭제</a>
            </div>
        </div>
        <div class="rounded my-review-table">
            <table class="">
                <tbody>
                <tr>
                    <td class="review-image"><img src="/img/example.png" class="rounded-circle" alt="" width="70" height="70"></td>
                    <td class="review-user"><h5>홍길동</h5><p>2020.10.17</p></td>
                    <td class="text-right review-star"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td colspan="3"><p class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 후기1개 끝 -->
        <hr class="mt-5 mb-5">
        <div class="row reservation-list-div rounded mb-3">
            <div class="col reservation-img">
                <a href="#"><img src="/img/recordroom.png" width="350" height="220" alt=""></a>
            </div>
            <div class="col pt-4 reservation-info">
                <p><span class="text-primary mr-5">예약 장소</span><span><a href="#" class="text-dark">선셋밸리 레코드 스튜디오</a></span></p>
                <p><span class="text-primary mr-5">예약 날짜</span><span>2020년 10월 19일 월요일</span></p>
                <p><span class="text-primary mr-5">예약 시간</span><span>오전권(10:00-15:00)</span></p>
                <a href="#" role="button" class="btn btn-danger">후기 삭제</a>
            </div>
        </div>
        <div class="rounded my-review-table">
            <table class="">
                <tbody>
                <tr>
                    <td class="review-image"><img src="/img/example.png" class="rounded-circle" alt="" width="70" height="70"></td>
                    <td class="review-user"><h5>홍길동</h5><p>2020.10.17</p></td>
                    <td class="text-right review-star"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td colspan="3"><p class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></td>
                </tr>
                </tbody>
            </table>
        </div>
        <hr class="mt-5 mb-5">
        <div class="row reservation-list-div rounded mb-3">
            <div class="col reservation-img">
                <a href="#"><img src="/img/recordroom.png" width="350" height="220" alt=""></a>
            </div>
            <div class="col pt-4 reservation-info">
                <p><span class="text-primary mr-5">예약 장소</span><span><a href="#" class="text-dark">선셋밸리 레코드 스튜디오</a></span></p>
                <p><span class="text-primary mr-5">예약 날짜</span><span>2020년 10월 19일 월요일</span></p>
                <p><span class="text-primary mr-5">예약 시간</span><span>오전권(10:00-15:00)</span></p>
                <a href="#" role="button" class="btn btn-danger">후기 삭제</a>
            </div>
        </div>
        <div class="rounded my-review-table">
            <table class="">
                <tbody>
                <tr>
                    <td class="review-image"><img src="/img/example.png" class="rounded-circle" alt="" width="70" height="70"></td>
                    <td class="review-user"><h5>홍길동</h5><p>2020.10.17</p></td>
                    <td class="text-right review-star"><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star fa-lg" aria-hidden="true"></i><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td colspan="3"><p class="question">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- my review end -->
{{>layout/footer}}